<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISourceWs" />
                <binding name="BasicHttpsBinding_ISourceWs">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://195.88.82.191/DemoWS/Services/SourceWs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISourceWs"
                contract="ISourceWs" name="BasicHttpBinding_ISourceWs" />
            <endpoint address="https://vm-abcdemo/DemoWS/Services/SourceWs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISourceWs"
                contract="ISourceWs" name="BasicHttpsBinding_ISourceWs" />
        </client>
    </system.serviceModel>
</configuration>