<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDestinationWs" />
                <binding name="BasicHttpsBinding_IDestinationWs">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://195.88.82.191/DemoWS/Services/DestinationWs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDestinationWs"
                contract="IDestinationWs" name="BasicHttpBinding_IDestinationWs" />
            <endpoint address="https://vm-abcdemo/DemoWS/Services/DestinationWs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDestinationWs"
                contract="IDestinationWs" name="BasicHttpsBinding_IDestinationWs" />
        </client>
    </system.serviceModel>
</configuration>